<div *ngIf="hero" class="jumbotron" style="background-color: #6f5499">
  <div class="container">
    <div>
      <h2 style="color: white">{{hero.name | uppercase}} details</h2>
      <div><span class="label label-success badge-pill">id:</span>&nbsp;&nbsp;<span style="color: white">{{hero.id}}</span></div>
      <div>
    <span class="label label-success badge-pill">
      name:
    </span>
        &nbsp;&nbsp;
        <input [(ngModel)]="hero.name" placeholder="name" style="color: #6f5499">
      </div>
    </div>
    <br><br>
    <button class="btn btn-warning" (click)="goBack()">go back</button>
  </div>
</div>
