<div class="jumbotron" style="color: white; background-color: #6f5499">
  <div class="container">
    <br><br>
    <h1>{{title}}</h1>
  </div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/heroes">Heroes</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>
