<div class="container" *ngIf="messageService.messages.length">
  <h3 style="color: #6f5499">Messages</h3>
  <button class="btn btn-success"
          (click)="messageService.clear()">clear
  </button>
  <br><br>
  <div *ngFor='let message of messageService.messages'>
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
      {{message}}
    </div>
  </div>
</div>
<hr>
