<div class="container">

<h2 style="color: #6f5499">Top Heroes:</h2>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-lg-3"
  routerLink="/detail/{{hero.id}}">
    <div class="jumbotron" style="color: white; background-color: #6f5499">
      <div class="container">
        <h4>{{hero.name}}</h4>
      </div>
    </div>
  </a>
</div>
</div>
