<div class="container">
  <h2 style="color: #6f5499">HEROES:</h2>
  <div *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <button type="button"
              class="btn btn-primary"
              style="background-color: white;
              color: #6f5499;
            border-color: white">{{hero.id}}&nbsp;&nbsp;
        <span class="badge" style="color: #6f5499"> {{hero.name}}</span>
      </button>
    </a>
  </div>
  <br>
</div>
<br>
